<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/list.css" type="text/css">
    <meta charset="UTF-8">
</head>

<body>
<header>
    <div class="wrapper">
        <h1><a href="#"><span>Raybaro </span><span class="id">Database System</span> </a></h1>
    </div>
</header>

<nav>
    <ul class="menu">
        <li><a href="/board/page/1" id="menubar">메인화면</a></li>
        <li><a href="/board/write" id="menubar">자료입력</a></li>
        <li><a href="/board/search_home" id="menubar">검색하기</a></li>
    </ul>
</nav>



<div class="download">
    <div class="down1">
        <a href="/board/write" id="enter"> 자료 입력 </a>
    </div>
    <div class="down2">
        <form method="post" action="/board/download">
            <input type="submit" id="excel" value="엑셀 다운로드">
        </form>
    </div>
</div>



<table border="1">
    <tr>
        <th>번호</th>
        <th>수리분류</th>
        <th>수리요청회사</th>
        <th>최초고객사 및 담당자</th>
        <th>모델명</th>
        <th>장비제조사명</th>
        <th>제품코드번호</th>
        <th>제품시리얼번호</th>
        <th>입고날짜</th>
        <th>출고날짜</th>
        <th>고객접수증상</th>
        <th>가격</th>
    </tr>
    <%
    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
    if(i > length){
        i++;
    }else{
        var data = rows[i]
    %>
    <tr>
        <td id="number"><%=i+1%></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.sort%></a></td>
        <td><%=data.recompany%></td>
        <td><%=data.writer%></td>
        <td><%=data.title%></td>
        <td><%=data.gearcompany%></td>
        <td><%=data.codenum%></td>
        <td><%=data.codeserial%></td>
        <td><%=data.startday%></td>
        <td><%=data.endday%></td>
        <td><%=data.clientsym%></td>
        <td><%=data.repairsym%></td>
    </tr>
    <% }
    }
    %>
    <tr>
        <td id=page colspan="12">
            <%
            for(var j = 0; j < rows.length / page_num; j++){
            %>
                [<a href="/board/page/<%= j + 1 %>"><%= j + 1 %></a>]
            <%
            }
            %>
        </td>
    </tr>
</table>

<div class ="searchbar">
    <div class="bar1">
        <form method="post" action="/board/search">
            <select id="search_query" name="search_query">
                <option value="1">고객명</option>
                <option value="2">제품명</option>
                <option value="3">제품코드</option>
                <option value="4">시리얼번호</option>
            </select>
            <input type="text" name="search" id="search" required/>
            <input type="submit" id="search1" value="검색">
        </form>
    </div>
    <div class="bar2">
        <form method="post" action="/board/date_search">
            <select id="date_search_query" name="date_search_query">
                <option value="1">입고날짜</option>
                <option value="2">출고날짜</option>
            </select>
            <input type="date" id="startday" name="startday" required>
            <td><input type="date" id="endday" name="endday" required>
                <input type="submit" id="search2" value="검색">
        </form>
    </div>

</div>

</body>
</html>

