<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/list.css" type="text/css">
    <meta charset="UTF-8">
</head>

<body>
<header><h1> <span>Raybaro</span> Database System </h1></header>

<nav class=""sticky_nav>
    <ul class="nav-container">
        <li class="nav-item"><a href=""></a></li>
        <li class="nav-item"><a href=""></a></li>
        <li class="nav-item"><a href=""></a></li>
        <li class="nav-item"><a href=""></a></li>
    </ul>
</nav>

<p>
    <a href="/board/write" id="enter"> 자료 입력 </a>
</p>

<table border="1">
    <tr>
        <th>번호</th>
        <th>관리 요원</th>
        <th>제품명</th>
        <th>의뢰회사</th>
        <th>삼성 S/N</th>
        <th>제조사 S/N</th>
        <th>KTF,SKT S/N</th>
        <th>고객 접수 증상</th>
        <th>의뢰날짜</th>
        <th>수리날짜</th>
        <!--        <th>재의뢰</th>-->
    </tr>
    <%
    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
    if(i > length){
        i++;
    }else{
        var data = rows[i]
    %>
    <tr>
        <td id="number"><%=i+1%></td>
        <td><a href="/board/read/<%=data.idx%>"><%=data.writer%></a></td>
        <td><%=data.title%></td>
        <td><%=data.adcompany1%></td>
        <td><%=data.sn1%></td>
        <td><%=data.sn2%></td>
        <td><%=data.sn3%></td>
        <td><%=data.customer%></td>
        <td><%=data.requestdate%></td>
        <td><%=data.repairdate%></td>
    </tr>
    <% }
    }
    %>
    <tr>
        <td colspan="10">
            <%
            for(var j = 0; j < rows.length / page_num; j++){
            %>
                [<a href="/board/page/<%= j + 1 %>"><%= j + 1 %></a>]
            <%
            }
            %>
        </td>
    </tr>
</table>
<p>
    <form method="post" action="/board/search">
        <select id="search_query" name="search_query">
            <option value="1">제품명</option>
            <option value="2">수리날짜</option>
        </select>
        <input type="text" name="search" id="search" required/>
        <input type="submit" id="submit" value="검색">
    </form>

</p>

<p>
<form method="post" action="/board/date_search">
    <select id="date_search_query" name="date_search_query">
        <option value="1">의뢰날짜</option>
        <option value="2">수리날짜</option>
    </select>
    <input type="date" id="startdate" name="startdate" required>
    ~
    <td><input type="date" id="enddate" name="enddate" required>
    <input type="submit" id="submit" value="검색">
</form>

</p>



<p>
    <form method="post" action="/board/download">
        <input type="submit" id="submit" value="엑셀 다운로드">
    </form>
</p>

</body>
</html>

