<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<%var read = rows[0]; %>
<body>
<table border="2">
    <tr>
        <th>관리요원 성명</th>
        <td><%=read.writer%></td>
        <th>제품명</th>
        <td><%=read.title%></td>
    </tr>
    <tr>
        <th>관리국</th>
        <td><%=read.administer%></td>
        <th>의뢰 회사</th>
        <td colspan="4"><%=read.companya%></td>
    </tr>
    <tr>
        <th>제조사S/N</th>
        <td><%=read.sn1%></td>
        <th>삼성S/N</th>
        <td><%=read.sn2%></td>
        <th>KTF,SKT S/N</th>
        <td><%=read.sn3%></td>
    </tr>
    <tr>
        <th>고객 TAG에 기입된 내용</th>
        <td colspan="6" height="400" ><%=read.tag%></td>
    </tr></table>

    <p>
        <a href="/board/list"> 목록으로 가기 </a>
    </p>

    <p>
        <a href="/board/update/<%=read.idx %>"> 수정하기</a>

    </p>

    <P>
        <a href="/board/delete/<%=read.idx %>"> 삭제하기</a>

    </P>

</body>
</html>