<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/stylesheets/read.css' />
</head>
<%var read = rows[0]; %>
<header><h1> <span>Raybaro</span> Database System </h1></header>

<body>

<nav>
    <ul class="menu">
        <li id="mainmenu">Menu</li>
        <li><a href="/board/page/1" id="menubar">메인화면</a></li>
        <li><a href="/board/write" id="menubar">자료입력</a></li>
        <li><a href="/board/ring/1" id="menubar">수리진행</a></li>
        <li><a href="/board/rfinish/1" id="menubar">수리완료</a></li>
    </ul>

</nav>

<table border="2">
    <tr>
        <th>입고처</th>
        <td><%=read.recompany%></td>
        <th>Enduser</th>
        <td><%=read.enduser%></td>
        <th>수리담당자</th>
        <td colspan="2"><%=read.writer%></td>
    </tr>

    <tr>
        <th>모델명</th>
        <td><%=read.title%></td>
        <th>장비제조사</th>
        <td><%=read.gearcompany%></td>
        <th>가격</th>
        <td colspan="2"><%=read.price%></td>

    </tr>
    <tr>
        <th>반출 번호</th>
        <td><%=read.codenum%></td>
        <th>입고날짜</th>
        <td><%=read.startday%></td>
        <th>출고날짜</th>
        <td><%=read.endday%></td>

    </tr>
    <tr>
        <th>시리얼 번호</th>
        <td colspan="2"><%=read.codeserial%></td>
        <th>수리위치</th>
        <td colspan="2"><%=read.place%></td>
    </tr>

    <tr>
        <th>고객 접수 증상</th>
        <td colspan="6"><%=read.clientsym%></td>
    </tr>

    <th>메모</th>
    <td colspan="6" height="80" ><%=read.memo%></td>

    <tr>
        <th>수리 내역</th>
        <td colspan="6" height="170" ><%=read.comment%></td>
    </tr>
    <tr>
        <th>이미지</th>
        <td colspan="6" height="80"> <img src=<%= "./../../" + read.image %>  width="300" height=500"> </td>

    </tr>

</table>
<div class="three">
    <a href="/board/list" id="list"> 목록으로 </a>

    <a href="/board/update/<%=read.idx %>" id="update"> 수정하기</a>

    <a href="/board/delete/<%=read.idx %>"id="delete"> 삭제하기</a>
</div>

</body>
</html>