<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/list.css" type="text/css">
    <meta charset="UTF-8">
</head>

<body>
<header><h1><a href="#"><span>Raybaro System</span></a></h1></header>

<nav>
    <ul class="menu">
        <li id="mainmenu">Menu</li>
        <li><a href="/board/page/1" id="menubar">메인화면</a></li>
        <li><a href="/board/write" id="menubar">자료입력</a></li>
        <li><a href="/board/search_home" id="menubar">검색하기</a></li>
        <li><a href="/board/rfinish/1" id="menubar">수리완료</a></li>
    </ul>

</nav>

<p>
<h5>수리진행</h5>
</p>


<p>
<div class="down1">
    <a href="/board/page/1" id="mm"> 메인으로 </a>
</div>
<div class="down2">
    <a href="/board/write" id="enter"> 자료 입력 </a>
</div>

</p>

<table border="1">
    <tr>
        <th>No.</th>
        <th>입고처</th>
        <th>수리담당자</th>
        <th>모델명</th>
        <th>장비제조사</th>
        <th>반출번호</th>
        <th>시리얼번호</th>
        <th>입고날짜</th>
        <th>출고날짜</th>
        <th>고객접수증상</th>
        <th>Enduser</th>
        <th>수리위치</th>
        <th>가격</th>
    </tr>
    <%

    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
    if(i > length){
        i++;
    }else{
        var data = rows[i]
    %>
    <tr>
        <td id="number"><%=i+1%></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.recompany%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.writer%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.title%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.gearcompany%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.codenum%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.codeserial%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.startday%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.endday%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.clientsym%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.enduser%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.place%></a></td>
        <td><a href="/board/read/<%=data.idx%>" id="click"><%=data.price%></a></td>
    </tr>
    <% }
    }
    %>
    <tr>
        <td colspan="18">
            <%
            for(var j = 0; j < rows.length / page_num; j++){
            %>
            [<a href="/board/ring/<%=j+1%>"><%=j+1%></a>]
            <%
            }
            %>
        </td>
    </tr>
</table>


</body>
</html>

