<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>RAYBARO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<%var read = rows[0]; %>
<header>
    <div class="wrapper">
        <h1><a href="#"><span>Raybaro </span><span class="id">Database System</span> </a></h1>
    </div>
</header>

<nav>
    <ul class="menu">
        <li><a href="/board/page/1" id="menubar">메인화면</a></li>
        <li><a href="/board/write" id="menubar">자료입력</a></li>
        <li><a href="/board/search_home" id="menubar">검색하기</a></li>
    </ul>
</nav>

<body>

<form method="post" action="/board/update/<%= read.idx %>" onsubmit="onWriteSubmit()" enctype="multipart/form-data">
    <table border="2">
        <thead>
        <tr>
            <td colspan="5" id="main">Repair List</td>
        </tr>

        </thead>
        <tbody>
        <tr>
            <th>입고처</th>
            <td>
                </select>
                <select name='recompany' id=recompany' style='width:50%;height:100%;'>
                    <% for (var i=0; i < recompany_data.length; i++) { %>
                        <option value=<%= i + 1 %> <%= read.recompany == i+1 ? 'selected' : ''%> > <%=recompany_data[i].name%> </option>
                    <% } %>
                </select>
            </td>
        </tr>

        <tr>
            <th>End User</th>
            <td><input type="text" name="enduser" id="enduser"  value="<%=read.enduser%>"style="width:80%;height:50%;font-size:15px;" /></td>
            <th>수리담당자</th>
            <td><input type="text" name="writer" id="writer" value="<%=read.writer%>" style="width:80%;height:50%;font-size:15px;" /></td>

        </tr>

        <tr>
            <th>모델명</th>
            <td>
                <select name='title' id=title' style='width:50%;height:100%;'>
                    <% for (var i=0; i < title_data.length; i++) { %>
                        <option value=<%= i + 1 %> <%= read.title == i+1 ? 'selected' : ''%> > <%=title_data[i].name%> </option>
                    <% } %>
                </select>
            </td>
            <th>장비 제조사명</th>
            <td>
                <select name='gearcompany' id=gearcompany' style='width:50%;height:100%;'>
                    <% for (var i=0; i < gearcompany_data.length; i++) { %>
                        <option value=<%= i + 1 %> <%= read.gearcompany == i+1 ? 'selected' : ''%> > <%=gearcompany_data[i].name%> </option>
                    <% } %>
                </select>
            </td>
            <th>반출번호</th>
            <td><input type="text" name="codenum" value="<%=read.codenum%>" style="width:50%;height:50%;font-size:15px;"/></td>
        </tr>

        <tr>
            <th>제품 시리얼 번호</th>
            <td><input type="text" name="codeserial" value="<%=read.codeserial%>" style="width:50%;height:100%;font-size:15px;"/></td>
            <th>입고날짜</th>
            <td><input type="date" id="startday" name="startday" value="<%=read.startday%>"/></td>
            <th>출고날짜</th>
            <td><input type="date" id="endday" name="endday" value="<%=read.endday%>"/></td>
        </tr>


        <tr>
            <th>고객 접수 증상</th>
            <td><input type="text" name="clientsym" id="clientsym" style="width:50%;height:50%;font-size:15px;" value="<%=read.clientsym%>"/></td>
            <th>가격</th>
            <td><input type="text" name="price" id="price" style="width:50%;height:50%;font-size:15px;" value="<%=read.price%>"/></td>
            </td>
        </tr>

        <tr>
            <th>수리위치</th>
            <td><input type="text" name="place" id="place" value="<%=read.place%>"style="width:99%;height:50%;font-size:15px;"/></td>
            <th>수리내역</th>
            <td colspan="6"><input type="text"value="<%=read.comment%>" style="width: 99%;" name="comment" id="comment" /></td>

        </tr>
        <tr>
            <th>메모</th>
            <td colspan="6"><input type="text" value="<%=read.memo%>"style="width: 99%;" name="memo" id="memo" /></td>

        </tr>
        <tr>
            <th>이미지 등록</th>
            <td><input type="file" name="photo"/></td>
        </tr>

        <tr>
            <td colspan="6"><input type="submit" id="submit" value="수정하기" style="text-align:center; display:block; margin: 0 auto;" ></td>
        </tr>
        </tbody>

    </table>
</form>

</body>
</html>
